@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 18px;
  padding-left: 6px;
  justify-content: center;
}

.product-card {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  border: 1px solid #eaeaea;
  object-fit: cover;
  aspect-ratio: 1 / 1.5; /* relacion de aspecto 2:3 */
}

/* Responsive */
@media (min-width: 640px) { 
  .product-card {
    max-width: 250px;
  }
}

@media (min-width: 768px) { 
  .product-card {
    max-width: 300px;
  }
}

@media (min-width: 1024px) { 
  .product-grid {
    grid-template-columns: repeat(6, 1fr); /* máximo 6 columnas */
  }

  .product-card {
    max-width: 200px;
  }
}
